<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-translucent-statusbar" version="1.0.0">

	<name>Translucent Statusbar</name>
	<description>Cordova Translucent Statusbar Plugin</description>
	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/translucentStatusbar.js" name="translucentStatusbar">
		<clobbers target="window.translucentStatusbar" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="TranslucentStatusbar">
				<param name="android-package" value="com.noindoin.translucentstatusbar.TranslucentStatusbar" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<source-file src="src/android/TranslucentStatusbar.java" target-dir="src/com/noindoin/translucentstatusbar" />
	</platform>
</plugin>
